:host{

    --background-color: var(--black);
    --items-color: var(--white);

    /* Size */
    width: 100dvw;
    height: 10dvh;

    /* Styling */
    background-color: var(--background-color);

    /* Child Placement */
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    padding: 4% 5%;

    /* Self Placement */
    position: sticky;
    top: 0;

    color: var(--items-color);
    fill: var(--items-color);

    transition: all ease-in-out .2s;

}

.icon{

    /* Size */
    height: 70%;
    aspect-ratio: 1 / 1;

    /* Self Placement */
    margin-left: 20px;

    /* User */
    cursor: pointer;

}

#cart{
    margin-left: auto;
}
