<app-navbar></app-navbar>
<section id="top">
    
    <div class="nav_ghost"></div>
    <app-banner></app-banner>
    
    <div class="cards">
        
        <div class="holder">
            
            <app-card name="Cover all" cifra="€" price="79.99" test="1"></app-card>
            <app-card name="Blaze" cifra="€" price="64.99" test="2"></app-card>
            <app-card name="Cover all" cifra="€" price="59.99" test="3"></app-card>
            
        </div>

        <button class="more">DISCOVER MORE</button>

    </div>
    
</section>

<section id="bot">
    
    <div class="nav_ghost"></div>
    
    <div class="holder">

        <div class="collections">

            <app-collection collection="Winter's 2023" image_path="6"></app-collection>
            <app-collection collection="Fall's 2022" image_path="3"></app-collection>
            <app-collection collection="Summer's 2023" image_path="9"></app-collection>
    
        </div>

        <button class="all_collections">SEE ALL COLLECTION</button>

    </div>

    <footer>

        <div class="left">

            <div class="newsletter">

                <p>Subscribe now</p>
                <input placeholder="Enter your E-mail">
                <button>SUBSCRIBE</button>

            </div>

            <div class="map"></div>
            <div class="address">
                <p id="address">Praça Humbert Delgado</p>
                <img (click)="copyText()" src="/assets/icons/326595_content_copy_duplicate_icon.svg">
            </div>

        </div>
        <div class="t2">
        </div>
        <div class="t3"></div>

    </footer>

</section>
