details{

    width: 100%;
    
}

details summary{

    /* Variables */
    --square-size: 6px;
    --square-space: .7em;
    
    /* Font */
    color: var(--white);
    font-family: 'bebas';
    
    /* Styling */
    border-bottom: 1px solid var(--white);
    list-style: none;
    
    padding: .7em 0;
    padding-left: calc(var(--square-size) + var(--square-space));

    /* White square */
    background-image: url(../../../assets/placeholder_images/rectangle.png);
    background-size: var(--square-size);
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: center;

    /* User */
    cursor: pointer;

}

details div{

    width: 100%;
    height: 2em;

    display: flex;
    align-items: center;

    margin-left: 1em;

}

details p{
    /* Text */
    font-family: 'quicksand';
    color: var(--white);

    margin-left: .7em;

}

details img{

    height: 50%;
    aspect-ratio: 1 / 1;

}