.logo{

    /* Font */
    color: inherit;
    font-family: 'bebas';
    font-size: 3em;
    letter-spacing: 6px;
    text-decoration: none;

    /* User */
    user-select: none;
    cursor: pointer;

}