*{

    margin: 0;
    padding: 0;
    border: 0;

    scrollbar-width: thin;
    scrollbar-color: transparent transparent;

}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

@font-face {
    font-family: 'bebas';
    src: url(./assets/fonts/bebas.otf);
}

@font-face {
    font-family: 'geosans';
    src: url(./assets/fonts/price.otf);
}

@font-face {
    font-family: 'quicksand';
    src: url(./assets/fonts/quicksand.otf);
}

:root{

    --white: #FEFEFE;
    --black: #171717;
    --gray:  #B6B6B6;

}