/* details{

    width: 100%;
    
} */

details{
    width: 100%;
}

.content{

    display: flex;
    flex-direction: column;

    max-height: 0;
    overflow: hidden;
    transition: max-height 400ms ease;
    
}

details[open] + .content{
    max-height: 1000px;
    transition: max-height 400ms ease;
}

details summary{

    /* Variables */
    --square-size: 6px;
    --square-space: .7em;
    
    /* Font */
    color: var(--white);
    font-family: 'bebas';
    
    /* Styling */
    border-bottom: 1px solid var(--white);
    list-style: none;
    
    padding: .7em 0;
    padding-left: calc(var(--square-size) + var(--square-space));

    /* White square */
    background-image: url(/assets/placeholder_images/rectangle.png);
    background-size: var(--square-size);
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: center;

    /* User */
    cursor: pointer;
    user-select: none;

}

.holder{

    height: 2em;
    width: 100%;

    display: flex;
    align-items: center;

}

.image{

    height: 2em;
    aspect-ratio: 1 / 1;

    display: flex;
    align-items: center;
    justify-content: center;

}

.content p{
    /* Text */
    font-family: 'quicksand';
    color: var(--white);

    margin-left: .5em;

}

.content img{

    height: 50%;
    aspect-ratio: 1 / 1;

}